<div id="cont_principal">
    <form [formGroup]="form" (ngSubmit)="sendLogin()" id="cont_form">
        <figure>
            <img src="../../../assets/boleto.png">
        </figure>

        <h2>Inicio de sesion</h2>

        <input type="email" name="email" id="email" [formControl]="form.controls.email" placeholder="Correo electronico">

        <input type="password" name="password" id="password" [formControl]="form.controls.password" placeholder="Contraseña">

        <button type="submit">
            Ingresar
            <img src="../../../assets/flecha.png" alt="icono">
        </button>
        <a routerLink = "/register">Registrate</a>
    </form>
</div>