<div id="cont_principal">
    <form [formGroup]="form" (ngSubmit)="saveChanges()" id="form_register">

        <h2>Registro</h2>

        <div class="cont_group">
            <select name="identitytype" id="identitytype" [formControl]="form.controls.identity_type">
                <option value="" disabled selected>Seleccione un tipo</option>
                <option *ngFor = "let option of identityOptions" [value]="option.value">
                    {{ option.label }}
                </option>
            </select>

            <input type="number" [formControl]="form.controls.document_identity" id="identity_number" name="identity_number" pattern="[0-9]{10}" placeholder="Numero de documento">
        </div>
        <div class="cont_group">
            <input type="text" [formControl]="form.controls.name" id="nameuser" name="nameuser" maxlength="50" placeholder="Nombre">

            <input type="text" [formControl]="form.controls.last_name" id="lastname" name="lastname" maxlength="50" placeholder="Apellido">
        </div>
        <div class="cont_group">
            <input type="email" [formControl]="form.controls.email" id="emailuser" name="emailuser" placeholder="Correo electronico">

            <input type="password" [formControl]="form.controls.password" id="password" name="password" minlength="8" maxlength="12" placeholder="Contraseña">
        </div>
        
        <button type="submit">
            Confirmar
            <img src="../../../assets/confirmacion.png" alt="icono">
        </button>

    </form>
</div>