*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100px;
}

header div#cont_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #123463;
    color: #FFC90E;
    padding: 12px;
    margin-bottom: 10px;
}

    header div#cont_header figure#cont_logo{
        display: flex;
        align-items: center;
        font-size: 20px;
    }

    header div#cont_header figure#cont_logo img{
        width: 70px;
    }

    header div#cont_header figure#cont_add{
        background-color: #123463;
        position: fixed;
        bottom: 0;
        right: 0;
        padding: 10px;
        border-radius: 50px;
        cursor: pointer;
    }
        header div#cont_header figure#cont_add img{
            width: 50px;
            margin: 8px;
        }
        header div#cont_header figure#cont_add p{
            display: none;
        }

    header div#cont_header figure#cont_goout{
        cursor: pointer;
    }    
        header div#cont_header figure#cont_goout img{
            width: 40px;
        }
        header div#cont_header figure#cont_goout p{
            display: none;
        }

    #cont_principal_responsive{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

        #cont_principal_responsive section{
            background-color: #D9D9D9;
            padding: 20px;
            width: clamp(320px, 90%, 500px);
        }

        #cont_principal_responsive article p{
            padding: 10px 0;
            display: flex;
            justify-content: space-between;
        }

        #cont_principal_responsive article p::before{
            content: attr(data-label);
        }

    div#cont_principal_table{
        display: none;
    }

@media screen and (min-width: 1000px){
    body{
        overflow: hidden;
    }
    div#cont_principal_table{
        display: block;
        width: 100%;
        height: 95vh;
        overflow: hidden;
        overflow-y: auto;
        border: 2px solid #123463;
        margin: 20px;
    }
    #cont_principal_responsive{
        display: none;
    }

    div#super_container{
        display: flex;
        justify-content: space-between;
    }

        header div#cont_header{
            flex-direction: column;
            height: 100vh;
            margin: 0;
        }

        div#cont_principal_table table{
            width: 100%;
            border-collapse: collapse;
        }
        div#cont_principal_table thead th{
            padding: 20px;
            text-align: center;
        }
        div#cont_principal_table tbody td{
            padding: 30px 10px;
            text-align: center;
        }
        tbody tr{
            &:nth-child(odd) {
              background-color: #D9D9D9;
            }
        
            &:nth-child(even) {
              background-color: #fff;
            }
        }

        thead{
            background-color: #123463;
            color: #FFC90E;
        }

        header div#cont_header figure#cont_goout{
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-evenly;
        }

        header div#cont_header figure#cont_goout p{
            display: flex;
            font-size: 15px;
        }
        header div#cont_header figure#cont_goout img{
            width: 35px;
        }

        
        header div#cont_header figure#cont_add{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
            position: relative;
            padding: 0;

        }
        header div#cont_header figure#cont_add p{
            display: flex;
            font-size: 15px;
        }
        header div#cont_header figure#cont_add img{
            width: 35px;
        }
}