<body>
<div id="super_container">

    <header>
        <div id="cont_header">
            <figure id="cont_logo">
                <img src="../../../assets/boleto.png">
                <p>Ticketazo</p>
            </figure>
            <figure id="cont_add" routerLink="/register">
                <img src="../../../assets/agregar.png">
                <p>Agregar usuario</p>
            </figure>
            <figure id="cont_goout" routerLink="/login">
                <img src="../../../assets/cerrar-sesion.png">
                <p>Cerrar sesion</p>
            </figure>
        </div>
    </header>

    <div id="cont_principal_responsive">
        <section *ngFor="let user of listUsers">
            <article id="cont_user">
                <p data-label="Tipo de documento">
                    <span *ngIf="user.identity_type == 0">Cedula de ciudadania</span>
                    <span *ngIf="user.identity_type == 1">Cedula de extranjeria</span>
                    <span *ngIf="user.identity_type == 2">Tarjeta de identidad</span>
                </p>
                <p data-label="Numero de documento">{{ user.document_identity }}</p>
                <p data-label="Nombre">{{ user.name }}</p>
                <p data-label="Apellido">{{ user.last_name }}</p>
                <p data-label="Correo">{{ user.email }}</p>
            </article>
        </section>
    </div>

    <div id="cont_principal_table">
        <table>
            <thead>
                <tr>
                    <th>Tipo de documento</th>
                    <th>Numero de documento</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of listUsers">
                    <td>
                        <span *ngIf="user.identity_type == 0">Cedula de ciudadania</span>
                        <span *ngIf="user.identity_type == 1">Cedula de extranjeria</span>
                        <span *ngIf="user.identity_type == 2">Tarjeta de identidad</span>
                    </td>
                    <td>{{ user.document_identity }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{user.email}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>