<div id="cont_principal">
    <header>
        <div id="cont_header">
            <figure id="cont_logo">
                <img src="../../../assets/boleto (2).png">
                <p>Ticketazo</p>
            </figure>
            <div id="cont_options">
            <figure id="cont_add" routerLink="/listTickets">
                <img src="../../../assets/portapapeles.png">
                <p>Listado de tickets</p>
            </figure>
            <figure id="cont_goout" routerLink="/login">
                <img src="../../../assets/puerta-de-salida.png">
                <p>Cerrar sesion</p>
            </figure>
            </div>
        </div>
    </header>
    <div id="cont_form">
        <form [formGroup]="form" (ngSubmit)="saveChanges()" id="form_register">
            <h2>Agregar ticket</h2>

            <div class="cont_group">
                <div class="cont_input_and_error">
                    <input [formControl]="form.controls.name" type="text" id="ticket_name" name="ticket_name" placeholder="Nombre del ticket">
                    <div *ngIf="errors['Name']" class="error-message">
                        <p *ngFor="let error of errors['Name']">{{ error }}</p>
                    </div>
                </div>
                <div class="cont_input_and_error">
                    <input [formControl]="form.controls.description" type="text" id="ticket_description" name="ticket_description" placeholder="Descripcion del ticket">
                    <div *ngIf="errors['Description']" class="error-message">
                        <p *ngFor="let error of errors['Description']">{{ error }}</p>
                    </div>
                </div>
            </div>
            <div class="cont_group">
                <div class="cont_input_and_error">
                    <input [formControl]="form.controls.quantity" type="number" id="ticket_quantity" name="ticket_quantity" placeholder="Cantidad de tickets">
                    <div *ngIf="errors['Quantity']" class="error-message">
                        <p *ngFor="let error of errors['Quantity']">{{ error }}</p>
                    </div>
                </div>
                <div class="cont_input_and_error">
                    <input [formControl]="form.controls.price" type="number" id="ticket_price" name="ticket_price" placeholder="Precio del ticket">
                    <div *ngIf="errors['Price']" class="error-message">
                        <p *ngFor="let error of errors['Price']">{{ error }}</p>
                    </div>
                </div>
            </div>
            <div class="cont_group">
                <div class="cont_input_and_error">
                    <input [formControl]="form.controls.event_location" type="text" id="event_location" name="event_location" placeholder="Lugar de evento">
                    <div *ngIf="errors['Event_location']" class="error-message">
                        <p *ngFor="let error of errors['Event_location']">{{ error }}</p>
                    </div>
                </div>
                <div class="cont_input_and_error">
                    <input [formControl]="form.controls.event_date" type="date" id="ticket_start_date" name="ticket_start_date" placeholder="Fecha de evento">
                    <div *ngIf="errors['Event_date']" class="error-message">
                        <p *ngFor="let error of errors['Event_date']">{{ error }}</p>
                    </div>
                </div>
            </div>
            <div class="cont_group">
                <div class="cont_input_and_error">
                    <input [formControl]="form.controls.event_time" type="time" id="ticket_start_time" name="ticket_start_time" placeholder="Hora de inicio">
                </div>
                <div class="cont_input_and_error">
                    <input (change)="onFileSelected($event)" type="file" id="ticket_image" name="ticket_image">
                </div>
            </div>
            <button type="submit">
                Agregar
                <img src="../../../assets/confirmacion.png" alt="icono">
            </button>
        </form>
    </div>
</div>
