<div id="cont_principal">
    <form [formGroup]="form" (ngSubmit)="saveChanges()" id="form_register">

        <h2>Registro</h2>

        <div class="cont_group">
            <select name="identitytype" id="identitytype" [formControl]="form.controls.identity_type">
                <option value="" disabled selected>Seleccione un tipo</option>
                <option *ngFor = "let option of identityOptions" [value]="option.value">
                    {{ option.label }}
                </option>
            </select>

            <div class="cont_input_and_error">
                <input type="number" [formControl]="form.controls.document_identity" id="identity_number" name="identity_number" pattern="[0-9]{10}" placeholder="Numero de documento">
                <div *ngIf="errors['Document_identity']" class="error-message">
                    <p *ngFor="let error of errors['Document_identity']">{{ error }}</p>
                </div>
            </div>
        </div>
        <div class="cont_group">
            <div class="cont_input_and_error">
                <input type="text" [formControl]="form.controls.name" id="nameuser" name="nameuser" maxlength="50" placeholder="Nombre">
                <div *ngIf="errors['Name']" class="error-message">
                    <p *ngFor="let error of errors['Name']">{{ error }}</p>
                </div>
            </div>

            <div class="cont_input_and_error">
                <input type="text" [formControl]="form.controls.last_name" id="lastname" name="lastname" maxlength="50" placeholder="Apellido">
                <div *ngIf="errors['Last_name']" class="error-message">
                    <p *ngFor="let error of errors['Last_name']">{{ error }}</p>
                </div>
            </div>
        </div>
        <div class="cont_group">
            <div class="cont_input_and_error">
                <input type="email" [formControl]="form.controls.email" id="emailuser" name="emailuser" placeholder="Correo electronico">
                <div *ngIf="errors['Email']" class="error-message">
                    <p *ngFor="let error of errors['Email']">{{ error }}</p>
                </div>
            </div>

            <div class="cont_input_and_error">
                <input type="password" [formControl]="form.controls.password" id="password" name="password" minlength="8" maxlength="12" placeholder="Contraseña">
                <div *ngIf="errors['Password']" class="error-message">
                    <p *ngFor="let error of errors['Password']">{{ error }}</p>
                </div>
            </div>
        </div>
        
        <button type="submit">
            Confirmar
            <img src="../../../assets/confirmacion.png" alt="icono">
        </button>

    </form>
</div>