<div id="cont_principal">
    <header>
        <div id="cont_header">
            <figure id="cont_logo">
                <img src="../../../assets/boleto (2).png">
                <p>Ticketazo</p>
            </figure>
            <figure id="cont_goout" routerLink="/login">
                <img src="../../../assets/puerta-de-salida.png">
                <p>Cerrar sesion</p>
            </figure>
        </div>
    </header>
    <div id="cont_first">
        <img src="../../../../assets/colin-lloyd-AOKgCxezZjY-unsplash.jpg" alt="Imagendeevento">
        <button id="bto_carru"><span class="material-icons">arrow_forward_ios</span></button>
        <button id="bto_carru_left"><span class="material-icons">arrow_back_ios_new</span></button>
        <div id="cont_data">
            <h2>Agregados recientemente</h2>
            <article *ngFor="let ticket of listTickets" (click)="openDialog(dialogTemplate, ticket.id!)">
            <img [src]="ticket.imageUrl" alt="{{ticket.name}}">
            <div id="cont_info">
                <p>{{ticket.name}}</p>
            </div>
            </article>
        </div>
    </div>
    <div id="cont_cards">
        <article *ngFor="let ticket of listTickets" (click)="openDialog(dialogTemplate, ticket.id!)">
            <img [src]="ticket.imageUrl" alt="{{ticket.name}}">
            <div>
                <p>{{ticket.name}}</p>
            </div>
        </article>

        <ng-template #dialogTemplate id="dialog">
            <div id="info_modal" *ngIf="listIdModal">
                <figure id="cont_img">
                    <img [src]="listIdModal.imageUrl" alt="{{listIdModal.name}}">
                </figure>
                <div id="cont_infomodal">
                    <span class="material-icons" id="close_modal" (click)="closeDialog()">close</span>
                    <h2>{{listIdModal.name}}</h2>
                    <p>{{listIdModal.description}}</p>
                    <p><span>Precio x Ticket: </span>{{listIdModal.price | currency}}</p>
                    <p><span>Ubicacion: </span>{{listIdModal.event_location}}</p>
                    <p><span>Fecha del evento: </span>{{listIdModal.event_date}}</p>
                    <p><span>Hora: </span>{{listIdModal.event_time}}</p>
                    <p><span>Disponibles: </span>{{listIdModal.quantity | number}}</p>
                    <div id="count_tickets">
                        <div id="cont_buttons">
                            <button (click)="Decrement()">
                                <span class="material-icons">remove</span>
                            </button>
                            <input type="text" [value]="InitialCount">
                            <button (click)="Increment()">
                                <span class="material-icons">add</span>
                            </button>
                        </div>
                        <span>{{TotalPrice() | currency}}</span>
                    </div>
                    <div id="cont_buttonbuy">
                        <button id="bt_comprar">Comprar</button>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</div>
