<div id="cont_principal">
    <header>
        <div id="cont_header">
            <figure id="cont_logo">
                <img src="../../../assets/boleto (2).png">
                <p>Ticketazo</p>
            </figure>
            <figure id="cont_goout" routerLink="/login">
                <img src="../../../assets/puerta-de-salida.png">
                <p>Cerrar sesion</p>
            </figure>
        </div>
    </header>
    <div id="cont_first">
        <img src="../../../../assets/colin-lloyd-AOKgCxezZjY-unsplash.jpg" alt="Imagendeevento">
        <div id="cont_data">
            <h2>Recientes</h2>
            <article *ngFor="let ticket of listTickets">
            <img [src]="ticket.imageUrl" alt="{{ticket.name}}">
            <div id="cont_info">
                <p>{{ticket.name}}</p>
                <p>{{ticket.event_date}}</p>
            </div>
            </article>
        </div>
    </div>
    <div id="cont_cards">
        <article *ngFor="let ticket of listTickets" (click)="openDialog(dialogTemplate, ticket.id!)">
            <img [src]="ticket.imageUrl" alt="{{ticket.name}}">
            <div>
                <p>{{ticket.name}}</p>
                <p>{{ticket.event_location}}</p>
                <p>{{ticket.event_date}}</p>
            </div>
        </article>

        <ng-template #dialogTemplate>
            <div id="info_modal" *ngIf="listIdModal">
                <img [src]="" alt="{{listIdModal.name}}">
                <div id="cont_info">
                    <p>{{listIdModal.name}}</p>
                    <p>{{listIdModal.event_location}}</p>
                    <p>{{listIdModal.event_date}}</p>
                    <p>{{listIdModal.event_time}}</p>
                    <p>{{listIdModal.description}}</p>
                    <p>{{listIdModal.price}}</p>
                </div>
            </div>
        </ng-template>
    </div>
</div>
