*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100px;
}

header div#cont_header{
    background-color: transparent;
    transition: 0.5s;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 3;
    font-weight: bolder;
}

header div#cont_header.bajo{
    background-color: #123463;
}

    header div#cont_header figure#cont_logo{
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 18px;
    }

        header div#cont_header figure#cont_logo img{
            width: 70px;
        }

    header div#cont_header figure#cont_goout img{
        width: 45px;
    }

        header div#cont_header figure#cont_goout p{
            display: none;
        }

div#cont_first{
    color: white;
    height: 100vh;
    position: relative;
}

    div#cont_first img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    div#cont_first::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 1;
    }

    

    div#cont_first div#cont_data{
        position: absolute;
        display: flex;
        align-items: center;
        overflow: hidden;
        gap: 20px;
        width: 100%;
        height: 50%;
        top: 30%;
        padding: 10px;
        font-size: 16px;
        font-weight: bolder;
        z-index: 2;
    }

        div#cont_first div#cont_data article{
            position: relative;
            width: 250px;
            height: 300px;
            border-radius: 10px;
        }

        div#cont_first div#cont_data article::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 250px;
            height: 300px;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 1;
            border-radius: 10px;
        }

        div#cont_first div#cont_data img{
            width: 250px;
            height: 300px;
            object-fit: cover;
            border-radius: 10px;
        }

        div#cont_data div#cont_info{
            position: absolute;
            z-index: 2;
            top: 0;
            padding: 10px;
        }

div#cont_cards{
    display: grid;
    justify-content: center;
    margin: 10px;
    gap: 10px;
    grid-template-columns: repeat(1, 250px);
}

    div#cont_cards article{
        position: relative;
        border-radius: 10px;
        cursor: pointer;
    }

    div#cont_cards article img{
        width: 250px;
        height: 300px;
        object-fit: cover;
        border-radius: 10px;
    }

    div#cont_cards article div{
        position: absolute;
        padding: 10px;
        font-weight: bold;
        color: white;
        z-index: 2;
        top: 0;
    }

    div#cont_cards article::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 10px;
        width: 250px;
        height: 300px;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

@media screen and (min-width: 520px){
    div#cont_cards{
        grid-template-columns: repeat(2, 250px);
    }
}

@media screen and (min-width: 840px){
    div#cont_cards{
        grid-template-columns: repeat(3, 250px);
    }

    header div#cont_header figure#cont_goout p{
        display: block;
        font-size: 16px;
        cursor: pointer;
    }

    header div#cont_header figure#cont_goout img{
        display: none;
    }
    header div#cont_header figure#cont_goout p:hover{
        color: #FFC90E;
    }
}

@media screen and (min-width: 1120px){

    div#cont_cards{
        grid-template-columns: repeat(4, 250px);
    }
}

@media screen and (min-width: 1300px){
    div#cont_cards{
        grid-template-columns: repeat(5, 250px);
    }
}