<div id="super_container">
    <header>
        <div id="cont_header">
            <figure id="cont_logo">
                <img src="../../../assets/boleto.png">
                <p>Ticketazo</p>
            </figure>
            <figure id="cont_add" routerLink="/listTickets/Add-tickets">
                <img src="../../../assets/agregar.png">
                <p>Agregar ticket</p>
            </figure>
            <figure id="cont_goout" routerLink="/login">
                <img src="../../../assets/cerrar-sesion.png">
                <p>Cerrar sesion</p>
            </figure>
        </div>
    </header>
    <section id="cont_body">
        <article id="cont_ticket" *ngFor="let ticket of listTickets">
            <img [src]="ticket.imageUrl" alt="ticket image">
            <h2>{{ticket.name}}</h2>
            <p>{{ticket.description}}</p>
            <div class="info_container">
                <p>{{ticket.quantity}}</p>
                <p>{{ticket.price}}</p>
            </div>
            <p>{{ticket.event_location}}</p>
            <div class="info_container">
                <p>{{ticket.event_date}}</p>
                <p>{{ticket.event_time}}</p>
            </div>
            <div id="cont_sub_menu_actions">
                <button [routerLink]="['/listTickets/Edit-tickets', ticket.id]">Editar</button>
                <button (click)="deleteTicket(ticket.id!)">Eliminar</button>
            </div>
        </article>
    </section>
</div>
