<div id="super_container">
    <header>
        <div id="cont_header">
            <figure id="cont_logo">
                <img src="../../../assets/boleto.png">
                <p>Ticketazo</p>
            </figure>
            <figure id="cont_add" routerLink="/listTickets/Add-tickets">
                <img src="../../../assets/agregar.png">
                <p>Agregar ticket</p>
            </figure>
            <figure id="cont_goout" routerLink="/login">
                <img src="../../../assets/cerrar-sesion.png">
                <p>Cerrar sesion</p>
            </figure>
        </div>
    </header>
    <section *ngFor="let ticket of listTickets">
        <article>
            <h2>{{ticket.name}}</h2>
            <p>{{ticket.description}}</p>
            <p>{{ticket.quantity}}</p>
            <p>{{ticket.price}}</p>
            <p>{{ticket.event_date}}</p>
            <p>{{ticket.event_location}}</p>
            <p>{{ticket.event_time}}</p>

            <button [routerLink]="['/listTickets/Edit-tickets', ticket.id]">Editar</button>
            <button (click)="deleteTicket(ticket.id!)">Eliminar</button>
        </article>
    </section>
</div>
